@media screen and (max-width: 1024px) {
    .feature {
        padding: 20px;
    }

    .feature__icon {
        margin-bottom: 10px;
    }

    .feature__title {
        font-size: 18px;
        line-height: 24px;
    }

    .achievement {
        padding: 20px 10px;
    }

    .achievement__number {
        font-size: 32px;
    }

    .achievement__description {
        font-size: 14px;
    }

    .method__content {
        padding: 20px 14px 20px 20px;
    }
    
    .innovation__video {
        margin-right: 60px;
    }

    .sponsors__list {
        flex-wrap: wrap;
    }

    .sponsor {
        width: 33.33333%;
        margin: 20px 0;
    }

    .subscribe__wrapper {
        padding: 0;
    }

    .subscribe.box {
        padding: 0;
    }

    .subscribe__item {
        flex-direction: column;
        width: 100%;
    }

    .subscribe__input {
        width: 70%;
    }

    .subscribe__description {
        text-align: center;
        margin-bottom: 30px;
        width: 100%;
    }

    .conracts__wrapper {
        padding: 75px 0 130px;
    }

    .contacts__list {
        width: 100%;
        flex-direction: column;
    }

    .contact {
        margin-bottom: 30px;
        width: 50%;
    }

    .contact:last-child {
        margin-bottom: 0;

    }

    .footer__wrapper {
        padding: 50px 0 30px 0;
    }

    .footer__links-list {
        flex-wrap: wrap;
    }

    .footer__links {
        margin-bottom: 30px;
    }
    
}


@media screen and (max-width: 768px) {
    .intro__wrapper {
        background: url(../img/cover-mobile.jpg) #EFF3F2 no-repeat center center;
        background-size: cover;
    }

    .box__title {
        width: 100%;
    }

    .box__subtitle {
        width: 100%;
    }

    .intro__title {
        width: 90%;
        font-size: 40px;
        text-align: center;
        font-weight: 700;
        line-height: 57px;
        margin-bottom: 40px;
    }

    .intro__subtitle {
        height: auto;
        width: 70%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 40px;
    }

    .intro__buttons {
        flex-direction: column;
        align-items: center;
    }

    .intro {
        align-items: center;
        max-width: none;
    }

    .intro__buttons a {
        margin: 0 0 30px 0;
    }

    .intro__buttons a:last-child {
        margin-bottom: 0;
    }

    .header__features {
        flex-direction: column;
        align-items: center;
        bottom: 0;
    }

    .feature {
        margin: 15px 0;
        padding: 40px 10px 35px 40px;
        width: 100%;
    }

    .feature__title {
        width: 90%;
        font-size: 24px;
        line-height: 32px;
    }

    .intro__wrapper {
        padding-bottom: 200px;
    }

    .achievements__wrapper {
        padding: 98px 0 70px;
    }

    .achievements__list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .achievement {
        width: 50%;
        padding: 30px 20px;
        margin: 15px;
    }

    .achievement__number {
        font-size: 40px;
    }

    .achievement__description {
        font-size: 16px;
    }

    .methods__wrapper {
        padding: 98px 0 106px;
    }

    .methods__list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .method {
        width: 50%;
        margin: 15px;
    }

    .method__content {
        padding: 30px 24px 30px 30px;
    }

    .innovation {
        flex-direction: column;
        align-items: center;
    }

    .innovation__title {
        width: 100%;
        text-align: center;
        font-size: 40px;
        line-height: 57px;
    }

    .innovation__subtitle {
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }

    .innovation__video {
        width: 100%;
        min-width: 333px;
        height: 442px;
        margin: 0 0 72px 0;
    }

    .innovation__content {
        width: 90%;
        align-items: center;
    }

    .contact {
        width: 100%;
    }

    .decision {
        flex-direction: column;
    }

    

    .decision__description {
        margin-bottom: 50px;
    }
}



@media screen and (max-width: 590px) {
    .header__nav {
        display: none;
    }

    .logo {
        margin-right: 0;
    }

    .header {
        justify-content: space-between;
        background: #F6F6F6;
    }

    .header__buttons {
        display: block;
    }

    .achievement {
        width: 100%;
        margin: 20px;
    }

    .method {
        width: 100%;
        margin: 20px;
    }

    .sponsors__wrapper {
        padding: 80px 0 85px;
    }

    .sponsor {
        margin: 0 0 60px 0;
        width: 100%;
    }

    .sponsor:last-child {
        margin-bottom: 0;
    }

    .subscribe__input {
        width: 100%;
    }

    .footer__links-list {
        flex-direction: column;
    }

    .footer {
        display: flex;
        justify-content: center;
    }

    .rights__wrapper {
        padding: 25px 0 55px;
    }

    .rights {
        flex-direction: column;
        align-items: center;
    }

    .rights__text {
        margin-bottom: 50px;
        text-align: center;
    }

    .social__icons a {
        margin: 0 10px;
    }
}


@media screen and (max-width: 360px) {
    .header__search {
        margin-right: 10px;
    }
    
    .header__basket {
        margin-right: 10px;
    }

    .feature {
        padding: 20px;
        margin: 10px;
    }

    .feature__icon {
        margin-bottom: 10px;
    }

    .feature__title {
        font-size: 18px;
        line-height: 24px;
    }

    .achievement {
        padding: 20px 10px;
        margin: 10px;
    }

    .achievement__number {
        font-size: 32px;
    }

    .achievement__description {
        font-size: 14px;
    }

    .subscribe__email {
        padding: 8px 12px;
    }
    
    .subscribe__button {
        padding: 8px 12px;
    }
}
